body {
    background-color: black;
    color: white;
    text-align: center;
}
a:link {
  color:yellow;
}

a:visited {
  color: #ff0000;
}
.big {
  font-size: 1.8rem;
}

.mideum {
  font-size: 1.2rem;
}

.small {
  font-size: 0.5rem;
}

.title {
  font-size: 1.5rem;
}
.subTitle {
  font-size: 1rem;
  color:blue;
  background-color: yellow;
}
.content {
  font-size: 1rem;
  color: yellow;
  background-color: blue;
  word-break: break-all;

}
.guild {
  font-size: 0.4rem;
  line-height: 1.1rem;
}

.feedback {
  text-align: left;
  font-size: 0.8rem;
}

.disclaimer {
  text-align: left;
  font-size: 0.8rem;
}

.copyright {
  text-align: left;
  font-size: 0.8rem;
}
